amqp==2.5.2
appnope==0.1.0
asn1crypto==0.24.0
backcall==0.1.0
beautifulsoup4==4.8.2
billiard==3.6.2.0
celery==4.4.0
certifi==2019.11.28
cffi==1.11.5
chardet==3.0.4
cryptography==3.2
decorator==4.3.0
dj-database-url==0.5.0
Django==2.2.13
django-celery==3.3.1
django-environ==0.4.5
django-heroku==0.3.1
flake8==3.6.0
future==0.17.1
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
importlib-metadata==1.5.0
ipython==7.16.3
ipython-genutils==0.2.0
iso8601==0.1.12
jedi==0.13.2
kombu==4.6.7
m3u8==0.5.4
mccabe==0.6.1
moviepy==1.0.1
newrelic==4.12.0.113
numpy==1.22.0
opencv-python==4.2.0.32
parso==0.5.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.1
proglog==0.1.9
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
Pygments==2.3.1
python-telegram-bot==11.1.0
pytz==2018.7
requests==2.22.0
selenium==3.141.0
sentry-sdk==0.6.6
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
tqdm==4.42.1
traitlets==4.3.2
urllib3==1.25.8
vine==1.3.0
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.2
zipp==2.1.0
